theme "Catppuccin Mocha"

pane_frames false

keybinds {
    shared_except "locked" {
        bind "Alt q" {
            LaunchOrFocusPlugin "zj-quit" {
                floating true
            }
        }
        bind "Ctrl l" {
            LaunchOrFocusPlugin "room" {
                floating true
                ignore_case true
                quick_jump true
            }
        }
    }
    normal clear-defaults=true {
        bind "Alt n" { NewPane; }
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
    tmux clear-defaults=true {
        bind "Ctrl t" { Write 2; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "n" { SwitchToMode "Resize"; }
        bind "h" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "q" { Quit; }
    }
}

plugins {
    zj-quit location="file:@zj_quit_location@" {
        confirm_key "q"
        cancel_key "Esc"
    }
    room location="file:@room_location@" {}
}

