theme "Catppuccin Mocha"

ui {
    pane_frames {
        rounded_corners true
    }
}

keybinds {
    unbind "Ctrl q"
    shared_except "locked" {
        bind "Ctrl q" {
            LaunchOrFocusPlugin "zj-quit" {
                floating true
            }
        }
        bind "Ctrl l" {
            LaunchOrFocusPlugin "room" {
                floating true
                ignore_case true
                quick_jump true
            }
        }
    }
    normal {
        unbind "Ctrl p"
        unbind "Ctrl n"
        bind "Alt p" { SwitchToMode "Normal"; }
    }
}

plugins {
    zj-quit location="file:@zj-quit_location@" {
        confirm_key "q"
        cancel_key "Esc"
    }
    room location="file:@room_location@" {}
}

