theme "Catppuccin Mocha"

copy_on_select false

ui {
    pane_frames {
        rounded_corners true
    }
}

keybinds {
    normal {
        unbind "Ctrl p"
        unbind "Ctrl n"
        bind "Alt p" { SwitchToMode "Normal"; }
    }
}

