name: Build nix configs
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - "**/*.nix"
      - "flake.lock"
      - ".github/workflows/**"
  workflow_dispatch:
jobs:
  build:
    # runs-on: ${{ matrix.os }}
    runs-on: openci-runner-beta
    strategy:
      matrix:
        # os: [ubuntu-latest]
        host:
          - luka
          - tau
          - installer
          - pkgs
    steps:
      # - uses: easimon/maximize-build-space@fc881a613ad2a34aca9c9624518214ebc21dfc0c # master 2025/3/10
      #   with:
      #     root-reserve-mb: 8192
      #     swap-size-mb: 1024
      #     temp-reserve-mb: 1024
      #     build-mount-path: "/nix/store"
      #     remove-dotnet: true
      #     remove-android: true
      #     remove-haskell: true
      #     remove-codeql: true
      #     remove-docker-images: true
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
            http-connections = 100
            stalled-download-timeout = 15
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes
      - name: Build check
        if: ${{ matrix.host != 'installer' &&  matrix.host != 'pkgs'}}
        env:
          "NIXOS_SKIP_PKGS": "1"
        run: nix build --no-link ".#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel" --impure
      - name: Build check
        if: ${{ matrix.host == 'installer' }}
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.isoImage
      - name: Build check
        if: ${{ matrix.host == 'pkgs' }}
        run: nix build .#pkgs
