name: Update with nvfetcher
on:
  schedule:
    - cron: "0 19 * * 1"
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
            http-connections = 100
            stalled-download-timeout = 15
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes
      - name: Update with nvfetcher
        run: nix run nixpkgs#nvfetcher
      - name: Diff
        id: diff
        run: |
          git add -N .
          git diff --name-only --exit-code
        continue-on-error: true
      - name: Commit & Push
        run: | # ref: https://beanslabo.co.jp/techblog/7412/
          set -x
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git diff –quiet && git diff –staged –quiet || git add .
          git diff –quiet && git diff –staged –quiet || git commit -m "Update lockfiles"
          git diff –quiet && git diff –staged –quiet || git push
        if: steps.diff.outcome == 'failure'
